h1 {
    color: #1F3A5F;
    font-size: 36px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 30px;
}
p {
    color: #333333;
    font-size: 18px;
}
body {
    background-color: #E8ECEF;
}
.some-element {
    background-color: #4A90E2;
}
/* Hero Section */
.hero {
    background-image: url("./Summit Aviation Hero Section.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 0px 40px 80px;
    text-align: center;
}
/* Hero Section Heading */
.hero h2 {
    color: #FFFFFF;
    font-size: 42px;
}
/* Hero Section Paragraph */
.hero p {
    color: #FFFFFF;
    font-size: 20px;
    max-width: 700px;
    margin: 20px auto;
}
/* Hero Section Button */
.hero a {
    display: inline-block;
    background-color: #4A90E2;
    color: #FFFFFF;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
}
/* Button Hover Effect */
.hero a:hover {
    background-color: #1F3A5F;
}
.pdf-link {
    display: inline-block;
    padding: 12px 20px;
    margin: 15px 0;
    border: 2px solid #1F3A5F;
    background-color: #4A90E2;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
}
.pdf-link:hover {
    background-color: #1F3A5F;
}
.services-list {
    list-style-type: square;
    font-size: 18px;
    color: #1F3A5F;
    margin: 20 px 0;
    padding: 10px 30px;
}
.services-list li {
    margin-bottom: 10px;
}
.services-list li:hover {
    color: #4A90E2;
}